* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}

.container {
    background-color: white;
    width: 65%;
    margin: auto;
    margin-top: 30px;
    border-radius: 5px;
}

.label {
    font-size: 8px;
    border-radius: 7px;
    padding: 4px 8px;
    color: white;
}

.circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid #57BCA5;
}


/* *HEADER */
/* Site header */

header {
    background-color: white;
    padding: 10px 20px;
    font-size: 20px;
}

header .logo,
h1 {
    display: inline-block;
    vertical-align: middle;
}

/* *MAIN */
/* Site body */

/* Task + Section */

main>section div {
    padding: 15px 50px 10px;
}

.box-button {
    border-bottom: 2px red;
}

section div input {
    padding: 5px 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: lightgray;
}

#button-blue {
    background-color: #45ABE9;
    color: white;
    border-color: #45ABE9;
}

#button-white {
    background-color: white;
}

hr {
    border: 1px solid #F6F8F9;
}

/* List */


.list {
    list-style: none;
    margin-left: 50px;
}



.label.editorial {
    background-color: #45ABE9;
}
.label.goals {
    background-color: #9C72E4;
}
.label.recruiting {
    background-color: #64C0A9;
}
.label.mobile {
    background-color: #F29E33;
}
.label.website {
    background-color: #D763A1;
}
.label.seals {
    background-color: #B0C925;
}

/* arrow list */
.arrow-down::before{
	color: black;
    content: "\25BE";
}
/* Check list */
.checked:before{
    padding: 4px;
	content: "\2713";
	color: #57BCA5;
}
/* Uncheck list */
.unchecked:before{
	content: "\2717";
	padding-right:7px;
	color: red;
}

h3 {
    margin-bottom: 5px;
}